@model IEnumerable<Demo.TestPlayer.Web.Models.VideoModel>
@{
    ViewBag.Title = "Resolution";
}

<h2>Resolution</h2>

@{ 
    var i = 0;
}
@foreach (var item in Model)
{
    <div class="video_div">
        <video id="video_@i" class="video-js vjs-default-skin vjs-big-play-centered">
            <source src=@item.Url type=@item.Type>
        </video>
    </div>
    <br /><br />
    i++;
}

<script src="https://unpkg.com/video.js@7.5.4/dist/video.js"></script>
<script src="https://cdn.jsdelivr.net/npm/videojs-seek-buttons/dist/videojs-seek-buttons.min.js"></script>
<script src="https://cdn.sc.gl/videojs-hotkeys/0.2/videojs.hotkeys.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/videojs-mobile-ui@0.5.0/dist/videojs-mobile-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-resolution-switcher/0.4.2/videojs-resolution-switcher.js" integrity="sha512-frj28ajh0BxQu/egXCjy1vyPVlN/A1NduklJxDFHbORXifqAzcs7Bh/7GV+QAL5HYzvNLT7CaEey/Y5FjEiwRA==" crossorigin="anonymous"></script>

<script>
    for (var i = 0; i < @Model.Count(); i++) {
        var id = "video_" + i;
        videojs(id, {
            autoplay: false,
            controls: true,
            loop: true,
            fluid: true,
            responsive: true,
            playbackRates: [0.25, 0.5, 1, 1.5, 2, 2.5, 3],
            plugins: {
                seekButtons: {
                    forward: 30,
                    back: 10
                }
            }
        },
        function (window, videojs) {
            this.hotkeys({
                volumeStep: 0.1,
                seekStep: 5,
                enableModifiersForNumbers: false
            });
        });

        (function (window, videojs) {
            var testPlayer = window.testPlayer = videojs(id);
            testPlayer.endscreen = function () { };
            testPlayer.mobileUi({
                fullscreen: {
                    iOS: true,
                    enterOnRotate: true,
                    exitOnRotate: true,
                    lockOnRotate: true
                },
                touchControls: {
                    seekSeconds: 10,
                    tapTimeout: 300,
                    disableOnEnd: false
                }
            });
        }(window, window.videojs));
    }

    var medias = Array.prototype.slice.apply(document.querySelectorAll('audio,video'));
    medias.forEach(function (media) {
        media.addEventListener('play', function (event) {
            medias.forEach(function (media) {
                if (event.target != media) media.pause();
            });
        });
    });

</script>

